USE [master]
GO
/****** Object:  Database [Navigation]    Script Date: 1/10/2019 5:26:46 PM ******/
CREATE DATABASE [Navigation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Navigation', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.KA\MSSQL\DATA\Navigation.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Navigation_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.KA\MSSQL\DATA\Navigation_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Navigation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Navigation]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Orderby] [int] NOT NULL,
	[BigPhoto] [nvarchar](max) NULL,
	[SmallPhoto] [nvarchar](max) NULL,
	[Title] [nvarchar](250) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[BlogType] [nvarchar](50) NOT NULL,
	[Info] [ntext] NOT NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryServices]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CategoryServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentPhotoes]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentPhotoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CommentPhotoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Listings]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Website] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Lat] [nvarchar](max) NOT NULL,
	[Lng] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Status] [bit] NOT NULL,
	[Slogan] [nvarchar](max) NULL,
	[CityId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Facebook] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Listings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListServices]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ListServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Photos]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[PlacePhoto] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reactions]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[Like] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Reactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [bit] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 1/10/2019 5:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[WeekNo] [nvarchar](max) NULL,
	[OpenHour] [time](7) NOT NULL,
	[CloseHour] [time](7) NOT NULL,
 CONSTRAINT [PK_dbo.WorkHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Fullname], [Email], [Password]) VALUES (1, N'Kamran Mirzeyev', N'kamranshm@code.edu.az', N'AJoNDn+4CYJgYEsiW4oBvBYP9uRwi6WqtnsgQ/pW6Ma8eB/vhht9CCKNGIfSxBKZ+A==')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Icon]) VALUES (1, N'Real Estate', N'fa-home')
INSERT [dbo].[Categories] ([Id], [Name], [Icon]) VALUES (2, N'Health & Fitness', N'fa-heart')
INSERT [dbo].[Categories] ([Id], [Name], [Icon]) VALUES (3, N'Hotels & Travel', N'fa-bed')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategoryServices] ON 

INSERT [dbo].[CategoryServices] ([Id], [CategoryId], [ServiceId]) VALUES (1, 1, 1)
INSERT [dbo].[CategoryServices] ([Id], [CategoryId], [ServiceId]) VALUES (2, 1, 3)
INSERT [dbo].[CategoryServices] ([Id], [CategoryId], [ServiceId]) VALUES (3, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[CategoryServices] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Photo]) VALUES (1, N'Ağcabədi', NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Photo]) VALUES (2, N'Ağdam', NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Photo]) VALUES (3, N'Ağdaş', NULL)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[CommentPhotoes] ON 

INSERT [dbo].[CommentPhotoes] ([Id], [CommentId], [Photo]) VALUES (1, 5, N'201901060234448182.png')
INSERT [dbo].[CommentPhotoes] ([Id], [CommentId], [Photo]) VALUES (2, 5, N'201901060234448535.jpg')
INSERT [dbo].[CommentPhotoes] ([Id], [CommentId], [Photo]) VALUES (3, 6, N'201901060236119092.png')
SET IDENTITY_INSERT [dbo].[CommentPhotoes] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [ListingId], [UserId], [Rating], [Text], [Time]) VALUES (1, 7, 3, 8, N'Yaxsi yerdi getmeye deyer', CAST(0x0000A9C800FB4FF0 AS DateTime))
INSERT [dbo].[Comments] ([Id], [ListingId], [UserId], [Rating], [Text], [Time]) VALUES (2, 13, 3, 6, N'Yaxsi yerdi getmeye deyer', CAST(0x0000A9C800FB4FF0 AS DateTime))
INSERT [dbo].[Comments] ([Id], [ListingId], [UserId], [Rating], [Text], [Time]) VALUES (3, 7, 3, 6, N'Yaxsi yerdi getmeye deyer', CAST(0x0000A9CC00FB79D5 AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Listings] ON 

SET IDENTITY_INSERT [dbo].[Listings] OFF
SET IDENTITY_INSERT [dbo].[ListServices] ON 

INSERT [dbo].[ListServices] ([Id], [ListingId], [ServiceId]) VALUES (1, 6, 1)
INSERT [dbo].[ListServices] ([Id], [ListingId], [ServiceId]) VALUES (2, 6, 2)
INSERT [dbo].[ListServices] ([Id], [ListingId], [ServiceId]) VALUES (3, 6, 3)
SET IDENTITY_INSERT [dbo].[ListServices] OFF
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([Id], [ListingId], [PlacePhoto]) VALUES (1, 1, N'201812301721099881.jpg')
INSERT [dbo].[Photos] ([Id], [ListingId], [PlacePhoto]) VALUES (2, 6, N'201812301748183202.png')
INSERT [dbo].[Photos] ([Id], [ListingId], [PlacePhoto]) VALUES (3, 7, N'20190101215637051relax.jpg')
SET IDENTITY_INSERT [dbo].[Photos] OFF
SET IDENTITY_INSERT [dbo].[Reactions] ON 

INSERT [dbo].[Reactions] ([Id], [UserId], [CommentId], [Like]) VALUES (1, 3, 8, 1)
INSERT [dbo].[Reactions] ([Id], [UserId], [CommentId], [Like]) VALUES (2, 3, 9, 1)
INSERT [dbo].[Reactions] ([Id], [UserId], [CommentId], [Like]) VALUES (3, 3, 10, 1)
SET IDENTITY_INSERT [dbo].[Reactions] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name]) VALUES (1, N'Internet')
INSERT [dbo].[Services] ([Id], [Name]) VALUES (2, N'Küçədə maşın park')
INSERT [dbo].[Services] ([Id], [Name]) VALUES (3, N'Yeraltı qaraj')
SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Status], [FullName], [Email], [Password], [Photo]) VALUES (3, 1, N'kamran', N'kamranshm@code.edu.az', N'AB3cTnmi5FAKlswb6uVdN/IshuQjTAa8NUsZGJVY0sH/TJYxePCthRfeI1kvRGEztw==', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WorkHours] ON 

INSERT [dbo].[WorkHours] ([Id], [ListingId], [WeekNo], [OpenHour], [CloseHour]) VALUES (4, 6, N'monday', CAST(0x0700A8E76F4B0000 AS Time), CAST(0x070050CFDF960000 AS Time))
INSERT [dbo].[WorkHours] ([Id], [ListingId], [WeekNo], [OpenHour], [CloseHour]) VALUES (5, 6, N'tuesday', CAST(0x0700A8E76F4B0000 AS Time), CAST(0x070050CFDF960000 AS Time))
INSERT [dbo].[WorkHours] ([Id], [ListingId], [WeekNo], [OpenHour], [CloseHour]) VALUES (6, 6, N'wednesday', CAST(0x0700A8E76F4B0000 AS Time), CAST(0x070050CFDF960000 AS Time))
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
/****** Object:  Index [IX_CategoryId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[CategoryServices]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[CategoryServices]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[CommentPhotoes]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[Comments]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Listings]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[Listings]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Listings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[ListServices]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[ListServices]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[Photos]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[Reactions]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Reactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingId]    Script Date: 1/10/2019 5:26:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[WorkHours]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[CategoryServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryServices_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryServices] CHECK CONSTRAINT [FK_dbo.CategoryServices_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[CategoryServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryServices_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryServices] CHECK CONSTRAINT [FK_dbo.CategoryServices_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[CommentPhotoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentPhotoes_dbo.Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentPhotoes] CHECK CONSTRAINT [FK_dbo.CommentPhotoes_dbo.Comments_CommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Listings_ListingId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[ListServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListServices_dbo.Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListServices] CHECK CONSTRAINT [FK_dbo.ListServices_dbo.Listings_ListingId]
GO
ALTER TABLE [dbo].[ListServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListServices_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListServices] CHECK CONSTRAINT [FK_dbo.ListServices_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Photos_dbo.Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_dbo.Photos_dbo.Listings_ListingId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reactions_dbo.Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_dbo.Reactions_dbo.Comments_CommentId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reactions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_dbo.Reactions_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkHours_dbo.Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_dbo.WorkHours_dbo.Listings_ListingId]
GO
USE [master]
GO
